body {
  background-color: black;
  width: 100%;
  margin: 0px;
  height: 100%;
}

@media (max-width: 1400px) {
  body {
    width: 100vw;
  }
}

.mainContainer {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1400px) {
  .mainContainer {
    width: 100vw;
  }
}

.siteContainer {
  height: 100%;
  width: 75%;
  padding-top: 30px;
  max-height: 100vw;
}

@media (max-width: 1400px) {
  .siteContainer {
    width: 100vw;
  }
}

.topBar {
  max-width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
  font-family: kanit, sans-serif;
}

.topBar .homeButton {
  height: 20px;
  padding-top: 20px;
}

.topBar .homeButton a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  border-bottom: 2px solid transparent;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.topBar .homeButton a:hover {
  border-color: white;
}

.topBar .nicoGarcia {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  padding-left: 30px;
  opacity: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.topBar .nicoGarcia img {
  width: 100px;
}

.topBar .logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
}

.topBar .logo:hover > .nicoGarcia {
  opacity: 1;
}

.topBar .logo img {
  width: 70px;
}

::-webkit-scrollbar {
  display: none;
}

.content {
  position: relative;
  z-index: 50;
  overflow-y: scroll;
  max-height: 710px;
}

.content div iframe {
  width: 100%;
  height: 715px;
}

@media (max-width: 830px) {
  .content div iframe {
    height: 500px;
  }
}

@media (max-width: 630px) {
  .content div iframe {
    height: 300px;
  }
}

.bottomBar {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 100px;
}

@media (max-width: 1400px) {
  .bottomBar {
    height: 40vw;
  }
}

.bottomBar ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 41px;
}

.bottomBar ul a {
  text-decoration: none;
  color: white;
  font-family: kanit, sans-serif;
  font-size: 1.3rem;
  border-bottom: 2px solid transparent;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

@media (max-width: 500px) {
  .bottomBar ul a {
    font-size: 0.8rem;
  }
}

.bottomBar ul a:hover {
  border-color: white;
}

footer {
  background-color: #ec4a4a;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 1200px) {
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
  }
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer nav ul a {
  text-decoration: none;
  color: black;
  font-family: kanit, sans-serif;
  font-size: 1.3rem;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

footer nav ul a:hover {
  color: white;
}

footer .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=developerAndEditor.css.map */